################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusinessAccess/bin/Debug/netcoreapp2.0
/BusinessAccess/obj
/Context/bin/Debug/netcoreapp2.0
/Context/obj
/Models/bin/Debug/netcoreapp2.0
/Models/obj
/RaffleApi/bin/Debug/netcoreapp2.0
/RaffleApi/obj
/.vs
/RaffleApi/bin/Release/netcoreapp2.0
/Models/bin/Release/netcoreapp2.0
/Context/bin/Release/netcoreapp2.0
/BusinessAccess/bin/Release/netcoreapp2.0
*.user
